@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', Helvetica, sans-serif;
}

@layer components {
  .heading-1 {
    font-size: clamp(calc(1.75rem), calc(6vw + 1px), 62px);
  }

  .heading-2 {
    font-size: clamp(calc(1.75rem), calc(6vw + 1px), 4rem);
  }

  .outter-padding {
    padding: clamp(0.75rem, 1vw + 0.01px, 2rem);
  }

  .input-padding {
    padding: clamp(0.5rem, 1vw + 0.01px, 2rem);
  }

  .inner-padding {
    padding: clamp(0.25rem, 0.5vw + 0.01px, 1.5rem);
  }

  .center {
    @apply flex justify-center items-center;
  }

  .rounded-corner {
    @apply rounded-xl;
  }

  .node {
    @apply w-fit text-sm relative left-[.75rem] lg:left-[1rem];
  }

  .title {
    @apply flex px-1 py-2 bg-gray-4;
  }

  .summary {
    @apply before:border-b-2 before:border-b-gray-4 relative;
  }

  .line {
    @apply before:content-[''] before:absolute before:top-[-18px] before:left-[-5px] md:before:left-[-9px] before:border-l-2 before:border-l-gray-4 before:h-full before:w-[8px] md:before:w-[10px] before:-z-20;
  }
}
